/* Write your code here. */
.list-item {
  width: 100%;
  border: 1px solid #d7dae6;
  border-radius: 5px;
  padding: 10px;

  margin-bottom: 15px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.question {
  font-weight: bold;
  color: #52606d;
}
hr {
  border: 0.5px solid #e4e7eb;
}
.answer {
  font-size: 15px;
  color: #9aa5b1;
}
